/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #ffffff;
    transition: 0.2s;
}

/* Header Styling */
header {
    text-align: center;
    background-color: #222;
    color: #fff;
    padding: 15px;
}

header h1 {
    font-size: 2em;
}

/* Body Font */
body {
    font-family: 'Poppins', sans-serif;
}

/* Content Layout */
.content-wrap {
    display: flex;
}

/* Sidebar */
.sidebar {
    background-color: #333;
    width: 20%;
    min-width: 200px;
    padding: 10px;
    color: white;
}

.sidebar a {
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

/* Main Content */
.container {
    padding: 20px;
    width: 80%;
}

.page-title h1 {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #424242;
    text-align: center;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #222;
    color: #fff;
    font-size: 0.9em;
    width: 100%;
}

/* Code Blocks */
pre, code {
    background-color: #f8f8f8;
    border: 1px solid #dddddd;
    padding: 10px;
    font-family: "Courier New", Courier, monospace;
    font-size: 1em;
    overflow-x: auto;
    word-wrap: break-word;
}

/* Alerts */
.alert {
    padding: 15px;
    margin: 20px 0;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.image-block {
    max-width: 100%;
    width: 576px;
    margin: 20px auto;
    text-align: center;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    padding: 10px;
    box-sizing: border-box;
}

.image-block img {
    width: 100%;       /* Responsive image */
    height: auto;      /* Maintain aspect ratio */
    display: block;
}

.caption {
    font-size: 0.9em;
    color: #444;
    font-style: italic;
    margin-top: 8px;
}

.image-source {
    font-size: 0.75em;
    color: #777;
    text-align: center;
    margin-top: 4px;
}

.image-source a {
    color: #555;
    text-decoration: underline;
}

/* Mobile responsiveness */
@media screen and (max-width: 768px) {
    .content-wrap {
        flex-direction: column;
    }

    .sidebar, .container {
        width: 100%;
    }
}
